<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Node <%= no %></h1>
    </header>

    <main>
        <section id="node-info">
            <p id="node-details">IP: <%= ip %> | Port: <%= port %></p>
        </section>
        <form action="/read2" method="GET">
            <input type="number" name="retailer_code" placeholder="Retailer Code">
            <button type="submit">Read</button>
        </form>
        <section id="sales-data">
            <h2>Sales Data</h2>
            <table>
                <thead>
                    <tr>
                        <th>Retailer Code</th>
                        <th>Product Number</th>
                        <th>Order Method Code</th>
                        <th>Date</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Unit Sale Price</th>
                        <th>Country</th>
                    </tr>
                </thead>
                <tbody>

                    <% data.forEach(row => { %>
                        <tr>
                            <td><%= row['Retailer code'] %></td>
                            <td><%= row['Product number'] %></td>
                            <td><%= row['Order method code'] %></td>
                            <td><%= row['Date'] %></td>
                            <td><%= row['Quantity'] %></td>
                            <td><%= row['Unit price'] %></td>
                            <td><%= row['Unit sale price'] %></td>
                            <td><%= row['Country'] %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>